<!--Navbar place-->
<section id="main-container">
  <div id="post-container">
    <div class="post">
      <div class="head-image"></div>
      <div class="title">
        <h2>
          Przykładowe title które zostało zamieszone na naszej stronie
        </h2>
      </div>
      <div class="small-information">
        <div class="date"><img src="https://img.icons8.com/android/24/000000/calendar.png"/> <span>11.03.1997</span></div>
        <div class="author"><img src="https://img.icons8.com/fluent-systems-filled/24/000000/typewriter-with-paper.png"/><span>Admin</span></div>
      </div>
      <div class="short-description">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
      </div>
      <div class="read-more">
        <a type="button">Read More</a>
      </div>
    </div>
    <div class="post">
      <div class="head-image"></div>
      <div class="title">
        <h2>
          Przykładowe title które zostało zamieszone na naszej stronie
        </h2>
      </div>
      <div class="small-information">
        <div class="date"><img src="https://img.icons8.com/android/24/000000/calendar.png"/> <span>11.03.1997</span></div>
        <div class="author"><img src="https://img.icons8.com/fluent-systems-filled/24/000000/typewriter-with-paper.png"/><span>Admin</span></div>
      </div>
      <div class="short-description">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.is simply dummy text of the printing and typesettiis simply dummy text of the printing and typesettiis simply dummy text of the printing and typesetti</p>
      </div>
      <div class="read-more">
        <a type="button">Read More</a>
      </div>
    </div>
    <div class="post">
      <div class="head-image"></div>
      <div class="title">
        <h2>
          Przykładowe title które zostało zamieszone na naszej stronie
        </h2>
      </div>
      <div class="small-information">
        <div class="date"><img src="https://img.icons8.com/android/24/000000/calendar.png"/> <span>11.03.1997</span></div>
        <div class="author"><img src="https://img.icons8.com/fluent-systems-filled/24/000000/typewriter-with-paper.png"/><span>Admin</span></div>
      </div>
      <div class="short-description">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
      </div>
      <div class="read-more">
        <a type="button">Read More</a>
      </div>
    </div>
  </div>
  <div id="right-container">
    <div class="search">search</div>
  </div>
</section>
<!--Footer place-->
